<div class="sign_up_form hidden modal-overlay absolute rounded-lg w-full h-full bg-gray-200 opacity-75"></div>
  <div class="hidden sign_up_form rounded mt-4 px-8 pt-6 pb-8 mb-4 text-center", style="display:contents;"> 
    <div class="pt-10 pb-10 sign_up_form modal mx-auto object-center hidden bg-teal-500 rounded-lg">
      <i id="up-close" class="fas fa-window-close text-white text-3xl cursor-pointer", style="margin-left:85%;"></i>
      <h1 class="text-2xl text-white font-bold">Create an Account</h1><br />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :username, class:'block tracking-wide text-white text-s font-bold mb-2' %>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class:'w-1/2 bg-gray-300 appearance-none rounded py-2 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white' %>
        </div>
        <br />
        <div class="field">
          <%= f.label :email, class:'block tracking-wide text-white text-s font-bold mb-2' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'w-1/2 bg-gray-300 appearance-none rounded py-2 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white' %>
        </div>
        <br />
        <div class="field">
          <%= f.label :password, class:'block tracking-wide text-white text-s font-bold mb-2' %>
          <%= f.password_field :password, autocomplete: "new-password", class:'w-1/2 bg-gray-300 appearance-none rounded py-2 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white'  %>
        </div>
        <br />
        <div class="field">
          <%= f.label :password_confirmation, class:'block tracking-wide text-white text-s font-bold mb-2' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'w-1/2 bg-gray-300 appearance-none rounded py-2 px-4 text-gray-800 leading-tight focus:outline-none focus:bg-white'  %>
        </div>
        <br />
        <div class="actions">
          <%= f.submit "Sign up", class:'bg-white hover:bg-teal-700 text-teal-500 font-bold py-2 px-4 rounded-full' %>
        </div>
      <% end %>
      <br />
      <div class="text-xs text-white mb-2">
        Already a member?<br />
      </div>
      <button class='to_login font-bold text-white'>Log in</button><br />
    </div>
  </div>
</div>