<div class="container mx-auto bg-teal-500 rounded-lg text-white p-5">
  <div class="text-xl font-bold">

    <%= @user.username %>
    <% if @ourchat.present? %>
      <%= link_to chat_path(@ourchat) do %>
        <i class="ml-3 fas fa-envelope align-middle"></i></button> 
        <span class="text-xs align-middle">Direct Message</span>
      <% end %>
    <% elsif @profile.user_id != current_user.id %>
      <button><i id="message" class="ml-1 fas fa-envelope"></i></button>
    <% end %>
    <br />

    <% if @user == current_user %>
      <button id="edit" class="mb-3 inline-block text-xs px-1 py-1 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
        Edit Profile
      </button>
    <% end %>

  </div>
  <%= render partial: "../views/profiles/edit" if @user = current_user %>
  <div class="profile pl-4 pr-4">
      <% if @profile.location.present? %>
        <div class="w-1/12 inline-block">Location:</div> <%= @profile.location %><br />
      <% end %>
      <% if @profile.status.present? %>
      <div class="w-1/12 inline-block">Status:</div> <%= @profile.status %><br />
      <% end %>
      <% if @profile.bio.present? %>
      <div class="w-1/12 inline-block">Bio:</div> <%= @profile.bio %>
      <% end %>
  </div>
</div>

<%= render partial: './users/newchat' %>

<% @myxes.each do |myx| %>
  <div class="mt-4 container w-2/3 pt-6 pl-10 pr-10 pb-8 mx-auto bg-white bg-opacity-75 border-solid border border-gray-400 rounded">
    <div class="text-teal-800 text-sm font-bold mb-2">
      <%= myx.user.username %>
    </div>
    <div class="text-sm text-gray-700 pl-4">
      <%= myx.message %>
    </div>
  </div>
  <br />
<% end %>